<!-- base.html: -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloom and Blossom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-end align-items-center">
            <a class="btn btn-outline-success ms-3" href="{{ url_for('main.home') }}">Home</a>
            <a class="btn btn-outline-success ms-3" href="{{ url_for('main.basket') }}">Basket</a>
        </div>
    </nav>    
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <div id="floating-description" class="flower-description" style="display: none;">
        <p class="description-text">Loading...</p>
    </div>    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <div id="notification" class="notification" style="display: none;">
        <span id="notification-message"></span>
    </div>
</body>
</html>
